In [10]:
import pandas as pd

In [11]:
emp = pd.read_csv('./employment_static_complete_count_2017.csv', encoding='euc-kr')

In [12]:
print(emp)

          지역별           산업별 2017년 상반기 전체종사자 (명) 2017년 상반기 빈일자리 (명)  \
0    부산광역시 중구           전산업              54,104                207
1    부산광역시 중구      광공업(제조업)                 593                  0
2    부산광역시 중구           건설업               1,357                  1
3    부산광역시 중구     도소매ㆍ음식숙박업              13,195                 63
4    부산광역시 중구  사업ㆍ개인ㆍ공공서비스업              16,315                100
..        ...           ...                 ...                ...
91  부산광역시 기장군      광공업(제조업)              15,272                 68
92  부산광역시 기장군           건설업               4,338                 20
93  부산광역시 기장군     도소매ㆍ음식숙박업               9,656                 68
94  부산광역시 기장군  사업ㆍ개인ㆍ공공서비스업              17,346                 57
95  부산광역시 기장군  전기ㆍ운수ㆍ통신ㆍ금융업               5,207                  3

   2017년 상반기 입직자 (명) 2017년 상반기 이직자 (명)
0              1,861             2,426
1                 10                 3
2                 20               363
3                383               345
4                574               445
..               ...               ...
91               261               247
92               470               622
93               438               272
94               545               239
95                67                73

[96 rows x 6 columns]

In [13]:
emp.columns

Index(['지역별', '산업별', '2017년 상반기 전체종사자 (명)', '2017년 상반기 빈일자리 (명)',
       '2017년 상반기 입직자 (명)', '2017년 상반기 이직자 (명)'],
      dtype='object')

In [15]:
small_addr = list()

addr = emp.loc[:, ['지역별']].values 
for tmp in addr :
    small_addr.append(tmp[0].split(" ")[1])

print(small_addr)

['중구', '중구', '중구', '중구', '중구', '중구', '서구', '서구', '서구', '서구', '서구', '서구', '동구', '동구', '동구', '동구', '동구', '동구', '영도구', '영도구', '영도구', '영도구', '영도구', '영도구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '남구', '남구', '남구', '남구', '남구', '남구', '북구', '북구', '북구', '북구', '북구', '북구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '수영구', '수영구', '수영구', '수영구', '수영구', '수영구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군']

In [16]:
emp['GUGUN'] = small_addr

In [17]:
df = emp.drop(['지역별'], axis='columns', inplace=True)
print(df)

None

In [18]:
emp.head()

,산업별,2017년 상반기 전체종사자 (명),2017년 상반기 빈일자리 (명),2017년 상반기 입직자 (명),2017년 상반기 이직자 (명),GUGUN
0,전산업,"54,104",207,"1,861","2,426",중구
1,광공업(제조업),593,0,10,3,중구
2,건설업,"1,357",1,20,363,중구
3,도소매ㆍ음식숙박업,"13,195",63,383,345,중구
4,사업ㆍ개인ㆍ공공서비스업,"16,315",100,574,445,중구

In [19]:
emp.to_csv('./employment_static_complete_count_2017.csv', encoding='euc-kr')