In [60]:
import pandas as pd

In [61]:
library = pd.read_csv('./csv/library/library.csv', encoding='cp949',sep=',')

In [62]:
library.head()

,도서관명,시도명,시군구명,도서관유형,휴관일,평일운영시작시각,평일운영종료시각,토요일운영시작시각,토요일운영종료시각,공휴일운영시작시각,...,대출가능일수,소재지도로명주소,운영기관명,도서관전화번호,부지면적,건물면적,홈페이지주소,위도,경도,데이터기준일자
0,강서도서관,부산광역시,강서구,공공도서관,매주 월요일 및 정부지정공휴일,07:00,23:00,07:00,23:00,07:00,...,14,"부산광역시 강서구 공항로811번길 10,강서도서관(대저2동,강서브라이트센터)",부산광역시 강서구청,051-970-4067,7471,3418,https://library.bsgangseo.go.kr/gslib/,35.1806278,128.9570987,2019-05-02
1,강서기적의도서관,부산광역시,강서구,어린이도서관,매주 월요일 및 정부지정공휴일,09:00,18:00,09:00,18:00,09:00,...,14,"부산광역시 강서구 명지오션시티10로 80(명지동, 강서기적의도서관)",부산광역시 강서구청,051-970-2317,2438,1289.18,https://library.bsgangseo.go.kr/gmlib/,35.0873400,128.9031730,2019-05-02
2,극동스타클래스작은도서관,부산광역시,강서구,작은도서관,"토요일, 일요일,공휴일",10:00,22:00,10:00,12:00,00:00,...,10,부산광역시 강서구 명지오션시티2로 71,극동스타클래스작은도서관,051-271-2142,367,367,NaN,35.0831905,128.9012441,2019-05-02
3,링컨타운책벌레작은도서관,부산광역시,강서구,작은도서관,"화, 목, 토, 일요일,공휴일",13:00,17:00,00:00,00:00,00:00,...,14,부산광역시 강서구 명지오션시티10로 16,퀸덤1차 링컨타운아파트,051-271-7170,121,121,NaN,35.0854738,128.8978422,2019-05-02
4,아인슈타인타운책벌레작은도서관,부산광역시,강서구,작은도서관,공휴일,13:00,17:00,00:00,00:00,00:00,...,14,부산광역시 강서구 명지오션시티11로 51,퀸덤1차 아이슈타인타운,051-271-7781,129,129,NaN,35.0856433,128.9017327,2019-05-02

In [63]:
library.columns

Index(['도서관명', '시도명', '시군구명', '도서관유형', '휴관일', '평일운영시작시각', '평일운영종료시각',
       '토요일운영시작시각', '토요일운영종료시각', '공휴일운영시작시각', '공휴일운영종료시각', '열람좌석수', '자료수(도서)',
       '자료수(연속간행물)', '자료수(비도서)', '대출가능권수', '대출가능일수', '소재지도로명주소', '운영기관명',
       '도서관전화번호', '부지면적', '건물면적', '홈페이지주소', '위도', '경도', '데이터기준일자'],
      dtype='object')

In [64]:
df = library.drop(['시도명','도서관유형', '휴관일', '평일운영시작시각', '평일운영종료시각',
       '토요일운영시작시각', '토요일운영종료시각', '공휴일운영시작시각', '공휴일운영종료시각', '열람좌석수', '자료수(도서)',
       '자료수(연속간행물)', '자료수(비도서)', '대출가능권수', '대출가능일수', '소재지도로명주소', '운영기관명',
       '도서관전화번호', '부지면적', '건물면적', '홈페이지주소', '위도', '경도', '데이터기준일자' ],axis='columns', inplace=True)

In [65]:
library.head()

              도서관명 시군구명
0            강서도서관  강서구
1         강서기적의도서관  강서구
2     극동스타클래스작은도서관  강서구
3     링컨타운책벌레작은도서관  강서구
4  아인슈타인타운책벌레작은도서관  강서구

In [66]:
library = library[library.도서관명 != '도서관명']

In [67]:
df = library.groupby("시군구명").count()

In [68]:
df.index

Index(['강서구', '금정구', '남구', '동구', '동래구', '부산중구', '부산진구', '북구', '사상구', '사하구',
       '서구', '설날', '수영구', '연제구', '영도구', '정기휴실일변경', '추석', '해운대구', '휴일명'],
      dtype='object', name='시군구명')

In [69]:
df.drop?

In [70]:
df.drop(index=['설날', '정기휴실일변경', '추석', '휴일명'], inplace=True)

In [71]:
df

      도서관명
시군구명
강서구     19
금정구      1
남구      31
동구       1
동래구      2
부산중구     7
부산진구     9
북구       3
사상구     14
사하구     18
서구      16
수영구      3
연제구      5
영도구     18
해운대구     4

In [72]:
df.to_csv('./csv/library/gugun_library.csv', encoding='euc-kr')

In [73]:
aa = pd.read_csv('./csv/library/gugun_library.csv', encoding='euc-kr')

In [78]:
aa.rename(columns = {'시군구명':'GUGUN','도서관명':'도서관수'},inplace=True)
aa

   GUGUN  도서관수
0    강서구    19
1    금정구     1
2     남구    31
3     동구     1
4    동래구     2
5   부산중구     7
6   부산진구     9
7     북구     3
8    사상구    14
9    사하구    18
10    서구    16
11   수영구     3
12   연제구     5
13   영도구    18
14  해운대구     4

In [79]:
aa.to_csv('./csv/library/gugun_library.csv', encoding='euc-kr')

In [80]:
aa.head()

  GUGUN  도서관수
0   강서구    19
1   금정구     1
2    남구    31
3    동구     1
4   동래구     2