In [2]:
import pandas as pd

In [3]:
market = pd.read_csv('./csv/market/market.csv', encoding='euc-kr')

In [4]:
print(market)

          시장명  시장유형                     소재지도로명주소                    소재지지번주소  \
0        명지시장   상설장     부산광역시 강서구 신포길17번길27(명지동)         부산광역시 강서구 명지동1-377
1        사덕시장   5일장   부산광역시 강서구 대저로277번길 9(대저1동)      부산광역시 강서구 대저1동2343-20
2        덕두시장   5일장  부산광역시 강서구 공항로 811번다길7(대저2동)      부산광역시 강서구 대저2동2014-29
3         시장명  시장유형                     소재지도로명주소                    소재지지번주소
4        부곡시장   상설장       부산광역시 금정구 부곡로 107(부곡동)        부산광역시 금정구 부곡동 304-1
..        ...   ...                          ...                        ...
209  반여3동골목시장   상설장        부산광역시 해운대구 재반로256번길 8     부산광역시 해운대구 반여3동 1607-2
210  반여2동상가시장   상설장    부산광역시 해운대구 해운대로61번길 95-83  부산광역시 해운대구 반여2동 1291-1425
211      장산시장   상설장       부산광역시 해운대구 선수촌로165번길 9     부산광역시 해운대구 반여1동 903-31
212      우일시장   상설장       부산광역시 해운대구 우동1로20번길 56       부산광역시 해운대구 우1동 552-2
213   재송한마음시장   상설장         부산광역시 해운대구 재반로 81-20     부산광역시 해운대구 재송동 1089-18

     시장개설주기             위도             경도  점포수  \
0        매일  35.1125397425  128.931597308  120
1    1일, 6일      35.212966  128.982705867    0
2    4일, 9일  35.1792332144  128.956171635    0
3    시장개설주기             위도             경도  점포수
4        매일  35.2254852296  129.091514993   92
..      ...            ...            ...  ...
209      매일            NaN            NaN   60
210      매일            NaN            NaN   70
211      매일            NaN            NaN   28
212      매일            NaN            NaN   32
213      매일            NaN            NaN   44

                                     취급품목  사용가능상품권  \
0                                 농,축,수산물   온누리상품권
1                               농,수산물,건어물        -
2                               농,수산물,건어물        -
3                                    취급품목  사용가능상품권
4    횟집, 농산물, 제과, 꽃, 옷수선, 금은방, 약국, 배추, 식당   온누리상품권
..                                    ...      ...
209                   농산물, 생필품, 수산물, 잡화 등   온누리상품권
210                   농산물, 생필품, 수산물, 잡화 등   온누리상품권
211                   농산물, 생필품, 수산물, 잡화 등   온누리상품권
212                   농산물, 생필품, 수산물, 잡화 등   온누리상품권
213                   농산물, 생필품, 수산물, 잡화 등   온누리상품권

                             홈페이지주소  공중화장실보유여부  주차장보유여부  개설년도          전화번호  \
0                                 -          Y        Y  1945  051-271-2234
1                               NaN          Y        N  1933           NaN
2                                 -          Y        N  1940           NaN
3                            홈페이지주소  공중화장실보유여부  주차장보유여부  개설년도          전화번호
4    http://economy.geumjeong.go.kr          N        N  1979           NaN
..                              ...        ...      ...   ...           ...
209                             NaN          N        N  1975  051-505-6399
210                             NaN          Y        N  1979  051-783-7292
211                             NaN          Y        N  1978           NaN
212                             NaN          N        N  1979           NaN
213                             NaN          N        N  2013           NaN

        데이터기준일자
0    2019-02-22
1    2019-02-22
2    2019-02-22
3       데이터기준일자
4    2019-04-02
..          ...
209  2019-05-10
210  2019-05-10
211  2019-05-10
212  2019-05-10
213  2019-05-10

[214 rows x 16 columns]

In [5]:
market.index

RangeIndex(start=0, stop=214, step=1)

In [6]:
market.columns

Index(['시장명', '시장유형', '소재지도로명주소', '소재지지번주소', '시장개설주기', '위도', '경도', '점포수',
       '취급품목', '사용가능상품권', '홈페이지주소', '공중화장실보유여부', '주차장보유여부', '개설년도', '전화번호',
       '데이터기준일자'],
      dtype='object')

In [7]:
df = market.drop(['시장유형','시장개설주기','사용가능상품권', '홈페이지주소','개설년도','전화번호','데이터기준일자'], axis='columns', inplace=True)
print(df)

None

In [8]:
market.head()

,시장명,소재지도로명주소,소재지지번주소,위도,경도,점포수,취급품목,공중화장실보유여부,주차장보유여부
0,명지시장,부산광역시 강서구 신포길17번길27(명지동),부산광역시 강서구 명지동1-377,35.1125397425,128.931597308,120,"농,축,수산물",Y,Y
1,사덕시장,부산광역시 강서구 대저로277번길 9(대저1동),부산광역시 강서구 대저1동2343-20,35.212966,128.982705867,0,"농,수산물,건어물",Y,N
2,덕두시장,부산광역시 강서구 공항로 811번다길7(대저2동),부산광역시 강서구 대저2동2014-29,35.1792332144,128.956171635,0,"농,수산물,건어물",Y,N
3,시장명,소재지도로명주소,소재지지번주소,위도,경도,점포수,취급품목,공중화장실보유여부,주차장보유여부
4,부곡시장,부산광역시 금정구 부곡로 107(부곡동),부산광역시 금정구 부곡동 304-1,35.2254852296,129.091514993,92,"횟집, 농산물, 제과, 꽃, 옷수선, 금은방, 약국, 배추, 식당",N,N

In [9]:
df = market.drop(['소재지지번주소','취급품목','공중화장실보유여부'], axis='columns', inplace=True)
print(df)

None

In [10]:
market.head()

,시장명,소재지도로명주소,위도,경도,점포수,주차장보유여부
0,명지시장,부산광역시 강서구 신포길17번길27(명지동),35.1125397425,128.931597308,120,Y
1,사덕시장,부산광역시 강서구 대저로277번길 9(대저1동),35.212966,128.982705867,0,N
2,덕두시장,부산광역시 강서구 공항로 811번다길7(대저2동),35.1792332144,128.956171635,0,N
3,시장명,소재지도로명주소,위도,경도,점포수,주차장보유여부
4,부곡시장,부산광역시 금정구 부곡로 107(부곡동),35.2254852296,129.091514993,92,N

In [11]:
market = market[market.시장명 != '시장명']
market.head()

,시장명,소재지도로명주소,위도,경도,점포수,주차장보유여부
0,명지시장,부산광역시 강서구 신포길17번길27(명지동),35.1125397425,128.931597308,120,Y
1,사덕시장,부산광역시 강서구 대저로277번길 9(대저1동),35.212966,128.982705867,0,N
2,덕두시장,부산광역시 강서구 공항로 811번다길7(대저2동),35.1792332144,128.956171635,0,N
4,부곡시장,부산광역시 금정구 부곡로 107(부곡동),35.2254852296,129.091514993,92,N
5,구서오시게시장,부산광역시 금정구 구서로 12(구서동),35.2473579,129.0897886,102,Y

In [12]:
small_addr = list()

addr = market.loc[:, ['소재지도로명주소']].values 
for tmp in addr :
    small_addr.append(tmp[0].split(" ")[1])

print(small_addr)

['강서구', '강서구', '강서구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '기장군', '기장군', '기장군', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '동구', '동구', '동구', '동구', '동구', '동구', '동구', '동구', '동구', '동구', '동구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '서구', '서구', '서구', '서구', '서구', '서구', '서구', '서구', '서구', '수영구', '수영구', '수영구', '수영구', '수영구', '수영구', '수영구', '수영구', '수영구', '수영구', '수영구', '수영구', '수영구', '수영구', '수영구', '수영구', '수영구', '수영구', '수영구', '수영구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '영도구', '영도구', '영도구', '중구', '중구', '중구', '중구', '중구', '중구', '중구', '중구', '중구', '중구', '중구', '중구', '중구', '중구', '중구', '중구', '중구', '중구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구']

In [13]:
market['GUGUN'] = small_addr

In [14]:
df = market.drop(['소재지도로명주소'], axis='columns', inplace=True)
print(df)

None

In [15]:
market.to_csv('./csv/market/market_all.csv', sep=',', encoding='euc-kr', index=False)

In [16]:
a = pd.read_csv('./csv/market/market_all.csv', sep=',', encoding='euc-kr')
df = a.drop(['위도','경도','점포수','주차장보유여부'], axis='columns', inplace=True)
print(df)

None

In [17]:
a.head(15)

         시장명 GUGUN
0       명지시장   강서구
1       사덕시장   강서구
2       덕두시장   강서구
3       부곡시장   금정구
4    구서오시게시장   금정구
5       서동시장   금정구
6     서동향토시장   금정구
7   금사제일상가시장   금정구
8     장전상가시장   금정구
9       장성시장   금정구
10  서동전통골목시장   금정구
11      좌천시장   기장군
12      송정시장   기장군
13      기장시장   기장군
14      용호시장    남구

In [18]:
market = a.groupby("GUGUN").count()

In [19]:
market.index

Index(['강서구', '금정구', '기장군', '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구',
       '서구', '수영구', '연제구', '영도구', '중구', '해운대구'],
      dtype='object', name='GUGUN')

In [20]:
market

       시장명
GUGUN
강서구      3
금정구      8
기장군      3
남구      12
동구      11
동래구     15
부산진구    33
북구       7
사상구     19
사하구     15
서구       9
수영구     20
연제구     10
영도구      3
중구      18
해운대구    13

In [21]:
market.to_csv('./csv/market/gugun_market.csv', encoding='euc-kr')

In [22]:
a = pd.read_csv('./csv/market/gugun_market.csv', encoding='euc-kr')

In [23]:
a.rename(columns = {'시장명':'시장수'},inplace=True)
a

   GUGUN  시장수
0    강서구    3
1    금정구    8
2    기장군    3
3     남구   12
4     동구   11
5    동래구   15
6   부산진구   33
7     북구    7
8    사상구   19
9    사하구   15
10    서구    9
11   수영구   20
12   연제구   10
13   영도구    3
14    중구   18
15  해운대구   13

In [24]:
a.to_csv('./csv/market/gugun_market.csv', encoding='euc-kr')

In [25]:
a.head()

  GUGUN  시장수
0   강서구    3
1   금정구    8
2   기장군    3
3    남구   12
4    동구   11

(15, 9)