In [113]:
import pandas as pd
import numpy as np

In [114]:
pop = pd.read_csv('./csv/population/population.csv', thousands=',', encoding='euc-kr')

In [115]:
pop.head()

,구군,동수 (개소),세대수 (세대),인구수 (명),남자인구수 (명),여자인구수 (명),시전체 인구에 대한 구성비 (%),면적 (㎢),인구밀도 (명/㎢)
0,중구,9,23093,44223,21987,22236,1.272488,2.83,15627
1,서구,13,52914,111044,54263,56781,3.195217,13.98,7943
2,동구,12,44075,89692,44103,45589,2.580828,9.74,9209
3,영도구,11,55018,119602,59289,60313,3.441468,14.20,8423
4,부산진구,20,166434,362296,175453,186843,10.424827,29.67,12211

In [116]:
pop

,구군,동수 (개소),세대수 (세대),인구수 (명),남자인구수 (명),여자인구수 (명),시전체 인구에 대한 구성비 (%),면적 (㎢),인구밀도 (명/㎢)
0,중구,9,23093,44223,21987,22236,1.272488,2.83,15627
1,서구,13,52914,111044,54263,56781,3.195217,13.98,7943
2,동구,12,44075,89692,44103,45589,2.580828,9.74,9209
3,영도구,11,55018,119602,59289,60313,3.441468,14.20,8423
4,부산진구,20,166434,362296,175453,186843,10.424827,29.67,12211
5,동래구,13,111162,271004,132109,138895,7.797960,16.63,16296
6,남구,17,118024,283267,138888,144379,8.150820,26.81,10566
7,북구,13,119578,294030,145690,148340,8.460518,39.37,7468
8,해운대구,18,168095,411445,198642,212803,11.839057,51.47,7994
9,사하구,16,138817,327956,164143,163813,9.436716,41.77,7851
10,금정구,17,107073,245670,119807,125863,7.068991,65.28,3763
11,강서구,8,52734,133231,70551,62680,3.833634,181.49,734
12,연제구,12,89916,210393,101605,108788,6.053919,12.10,17388
13,수영구,10,81323,178484,84716,93768,5.135759,10.21,17481
14,사상구,12,96926,225751,114243,111508,6.495835,36.09,6255
15,기장군,5,68892,167231,83267,83964,4.811961,218.30,766

In [117]:
pd.DataFrame(pop)

,구군,동수 (개소),세대수 (세대),인구수 (명),남자인구수 (명),여자인구수 (명),시전체 인구에 대한 구성비 (%),면적 (㎢),인구밀도 (명/㎢)
0,중구,9,23093,44223,21987,22236,1.272488,2.83,15627
1,서구,13,52914,111044,54263,56781,3.195217,13.98,7943
2,동구,12,44075,89692,44103,45589,2.580828,9.74,9209
3,영도구,11,55018,119602,59289,60313,3.441468,14.20,8423
4,부산진구,20,166434,362296,175453,186843,10.424827,29.67,12211
5,동래구,13,111162,271004,132109,138895,7.797960,16.63,16296
6,남구,17,118024,283267,138888,144379,8.150820,26.81,10566
7,북구,13,119578,294030,145690,148340,8.460518,39.37,7468
8,해운대구,18,168095,411445,198642,212803,11.839057,51.47,7994
9,사하구,16,138817,327956,164143,163813,9.436716,41.77,7851
10,금정구,17,107073,245670,119807,125863,7.068991,65.28,3763
11,강서구,8,52734,133231,70551,62680,3.833634,181.49,734
12,연제구,12,89916,210393,101605,108788,6.053919,12.10,17388
13,수영구,10,81323,178484,84716,93768,5.135759,10.21,17481
14,사상구,12,96926,225751,114243,111508,6.495835,36.09,6255
15,기장군,5,68892,167231,83267,83964,4.811961,218.30,766

In [118]:
pop.sort_values(['인구밀도 (명/㎢)'], ascending=False)

,구군,동수 (개소),세대수 (세대),인구수 (명),남자인구수 (명),여자인구수 (명),시전체 인구에 대한 구성비 (%),면적 (㎢),인구밀도 (명/㎢)
13,수영구,10,81323,178484,84716,93768,5.135759,10.21,17481
12,연제구,12,89916,210393,101605,108788,6.053919,12.10,17388
5,동래구,13,111162,271004,132109,138895,7.797960,16.63,16296
0,중구,9,23093,44223,21987,22236,1.272488,2.83,15627
4,부산진구,20,166434,362296,175453,186843,10.424827,29.67,12211
6,남구,17,118024,283267,138888,144379,8.150820,26.81,10566
2,동구,12,44075,89692,44103,45589,2.580828,9.74,9209
3,영도구,11,55018,119602,59289,60313,3.441468,14.20,8423
8,해운대구,18,168095,411445,198642,212803,11.839057,51.47,7994
1,서구,13,52914,111044,54263,56781,3.195217,13.98,7943
9,사하구,16,138817,327956,164143,163813,9.436716,41.77,7851
7,북구,13,119578,294030,145690,148340,8.460518,39.37,7468
14,사상구,12,96926,225751,114243,111508,6.495835,36.09,6255
10,금정구,17,107073,245670,119807,125863,7.068991,65.28,3763
15,기장군,5,68892,167231,83267,83964,4.811961,218.30,766
11,강서구,8,52734,133231,70551,62680,3.833634,181.49,734

In [119]:
pop.sort_values(['인구수 (명)'], ascending=False)

,구군,동수 (개소),세대수 (세대),인구수 (명),남자인구수 (명),여자인구수 (명),시전체 인구에 대한 구성비 (%),면적 (㎢),인구밀도 (명/㎢)
8,해운대구,18,168095,411445,198642,212803,11.839057,51.47,7994
4,부산진구,20,166434,362296,175453,186843,10.424827,29.67,12211
9,사하구,16,138817,327956,164143,163813,9.436716,41.77,7851
7,북구,13,119578,294030,145690,148340,8.460518,39.37,7468
6,남구,17,118024,283267,138888,144379,8.150820,26.81,10566
5,동래구,13,111162,271004,132109,138895,7.797960,16.63,16296
10,금정구,17,107073,245670,119807,125863,7.068991,65.28,3763
14,사상구,12,96926,225751,114243,111508,6.495835,36.09,6255
12,연제구,12,89916,210393,101605,108788,6.053919,12.10,17388
13,수영구,10,81323,178484,84716,93768,5.135759,10.21,17481
15,기장군,5,68892,167231,83267,83964,4.811961,218.30,766
11,강서구,8,52734,133231,70551,62680,3.833634,181.49,734
3,영도구,11,55018,119602,59289,60313,3.441468,14.20,8423
1,서구,13,52914,111044,54263,56781,3.195217,13.98,7943
2,동구,12,44075,89692,44103,45589,2.580828,9.74,9209
0,중구,9,23093,44223,21987,22236,1.272488,2.83,15627

In [120]:
pop

,구군,동수 (개소),세대수 (세대),인구수 (명),남자인구수 (명),여자인구수 (명),시전체 인구에 대한 구성비 (%),면적 (㎢),인구밀도 (명/㎢)
0,중구,9,23093,44223,21987,22236,1.272488,2.83,15627
1,서구,13,52914,111044,54263,56781,3.195217,13.98,7943
2,동구,12,44075,89692,44103,45589,2.580828,9.74,9209
3,영도구,11,55018,119602,59289,60313,3.441468,14.20,8423
4,부산진구,20,166434,362296,175453,186843,10.424827,29.67,12211
5,동래구,13,111162,271004,132109,138895,7.797960,16.63,16296
6,남구,17,118024,283267,138888,144379,8.150820,26.81,10566
7,북구,13,119578,294030,145690,148340,8.460518,39.37,7468
8,해운대구,18,168095,411445,198642,212803,11.839057,51.47,7994
9,사하구,16,138817,327956,164143,163813,9.436716,41.77,7851
10,금정구,17,107073,245670,119807,125863,7.068991,65.28,3763
11,강서구,8,52734,133231,70551,62680,3.833634,181.49,734
12,연제구,12,89916,210393,101605,108788,6.053919,12.10,17388
13,수영구,10,81323,178484,84716,93768,5.135759,10.21,17481
14,사상구,12,96926,225751,114243,111508,6.495835,36.09,6255
15,기장군,5,68892,167231,83267,83964,4.811961,218.30,766

In [121]:
type(pop)

pandas.core.frame.DataFrame

In [128]:
pop = pd.read_csv('./csv/population/population.csv', thousands=',', encoding='euc-kr')

In [129]:
pop = pop[['구군','인구수 (명)', '면적 (㎢)', '인구밀도 (명/㎢)']]
pop.rename(columns={'구군':'GUGUN'}, inplace=True)
pop

   GUGUN  인구수 (명)  면적 (㎢)  인구밀도 (명/㎢)
0     중구    44223    2.83       15627
1     서구   111044   13.98        7943
2     동구    89692    9.74        9209
3    영도구   119602   14.20        8423
4   부산진구   362296   29.67       12211
5    동래구   271004   16.63       16296
6     남구   283267   26.81       10566
7     북구   294030   39.37        7468
8   해운대구   411445   51.47        7994
9    사하구   327956   41.77        7851
10   금정구   245670   65.28        3763
11   강서구   133231  181.49         734
12   연제구   210393   12.10       17388
13   수영구   178484   10.21       17481
14   사상구   225751   36.09        6255
15   기장군   167231  218.30         766

In [130]:
pop.set_index('GUGUN')

       인구수 (명)  면적 (㎢)  인구밀도 (명/㎢)
GUGUN
중구       44223    2.83       15627
서구      111044   13.98        7943
동구       89692    9.74        9209
영도구     119602   14.20        8423
부산진구    362296   29.67       12211
동래구     271004   16.63       16296
남구      283267   26.81       10566
북구      294030   39.37        7468
해운대구    411445   51.47        7994
사하구     327956   41.77        7851
금정구     245670   65.28        3763
강서구     133231  181.49         734
연제구     210393   12.10       17388
수영구     178484   10.21       17481
사상구     225751   36.09        6255
기장군     167231  218.30         766

In [131]:
pop.to_csv('./csv/y_population.csv', encoding='euc-kr')