In [32]:
import pandas as pd 
import numpy as np

In [33]:
high = pd.read_excel('./excel/highschool.xlsx', encoding='utf-8')
high

,소속,학교급,설립,학교명,자치구,남녀공학구분,개교일자,우편번호,주소,전화번호,팩스번호,홈페이지
0,본청,각종학교(고),공립,부산산업학교,사상구,남여공학,19910301,46941,"부산광역시 사상구 백양대로768번길 64 (덕포동, 부산산업학교)",0513098214,0513098210,http://www.sanup.hs.kr
1,본청,고등기술학교,사립,부산국제영화고등학교,동구,남여공학,19560502,48792,"부산광역시 동구 고관로 68 , 부산국제영화고등학교 (초량동)",0514670404,0514686559,http://www.bifh.co.kr
2,본청,고등학교,국립,부산기계공업고등학교,해운대구,남,19670311,48088,부산광역시 해운대구 해운대로 569 (우동),0517415111,0517415045,http://www.bmt.hs.kr
3,본청,고등학교,국립,부산대학교사범대학부설고등학교,금정구,남여공학,19720106,46239,"부산광역시 금정구 기찰로22번길 30 (부곡동,부산대학교사범대학부설고등학교)",0515151345,0515151346,http://pusan-ah.hs.kr
4,본청,고등학교,국립,부산해사고등학교,영도구,남여공학,19780327,49111,부산광역시 영도구 해양로 425 (동삼동),0514102000,0514129261,http://www.maritime.hs.kr
...,...,...,...,...,...,...,...,...,...,...,...,...
140,본청,고등학교,사립,해운대고등학교,해운대구,남,19800124,48086,"부산광역시 해운대구 우동3로11번길 43 (우동, 해운대고등학교)",0517420312,0517319838,http://www.haeundae.hs.kr
141,본청,고등학교,사립,해운대관광고등학교,해운대구,남여공학,19721229,48086,"부산광역시 해운대구 우동2로60번길 38 (우동,해운대관광고등학교)",051)742004,051)741434,http://www.h-tour.hs.kr
142,본청,고등학교,사립,해운대여자고등학교,해운대구,여,19811125,48085,"부산광역시 해운대구 우동1로85번길 71 (우동, 해운대여자고등학교)",0517416813,0517416812,http://hwdghs.hs.kr
143,본청,고등학교,사립,혜광고등학교,중구,남,19550329,48903,"부산광역시 중구 망양로259번길 5 (보수동1가,혜광고등학교)",0512501081,0512501088,http://www.hyekwang.hs.kr
144,본청,고등학교,사립,혜화여자고등학교,동래구,여,19550405,47769,"부산광역시 동래구 명장로99번길 23 , (명장동, 혜화여자고등학교)",0515281740,0515285456,http://www.hye-hwa.hs.kr

In [34]:
high = high[['학교명','자치구']]
high

                 학교명   자치구
0             부산산업학교   사상구
1         부산국제영화고등학교    동구
2         부산기계공업고등학교  해운대구
3    부산대학교사범대학부설고등학교   금정구
4           부산해사고등학교   영도구
..               ...   ...
140          해운대고등학교  해운대구
141        해운대관광고등학교  해운대구
142        해운대여자고등학교  해운대구
143           혜광고등학교    중구
144         혜화여자고등학교   동래구

[145 rows x 2 columns]

In [1]:
high = high.rename(columns={'자치구':'GUGUN'})

NameError: name 'high' is not defined

In [36]:
high = high.groupby('GUGUN').count()
high

KeyError: 'GUGUN'

In [ ]:
high.to_csv('./csv/school/high.csv', encoding='euc-kr')

In [52]:
elementary = pd.read_excel('./excel/elementary.xlsx', encoding='utf-8')
elementary

,연번,구분,관할지원청,기관명,주소,전화,홈페이지
0,1,공립,서부교육지원청,감정초등학교,부산광역시 사하구 옥천로 130,220-0100,http://www.gamjung.es.kr
1,2,공립,서부교육지원청,감천초등학교,부산광역시 사하구 원양로 368-2,206-9482,http://www.gam.es.kr
2,3,공립,서부교육지원청,광일초등학교,부산광역시 중구 중구로 74,603-5000,http://www.gwangil.es.kr
3,4,공립,서부교육지원청,괴정초등학교,부산광역시 사하구 낙동대로 152,220-0500,http://www.koejeong.es.kr
4,5,공립,서부교육지원청,구덕초등학교,부산광역시 서구 보수대로 312,242-6600,http://www.gudeok.es.kr
...,...,...,...,...,...,...,...
300,301,공립,해운대교육지원청,해림초등학교,해운대구 해운대로 469번길 42(해운대구 우2동 1025-11번지 ),743-4720,http://www.haerim.es.kr/
301,302,공립,해운대교육지원청,해송초등학교,해운대구 좌동순환로 402번길 32(해운대구 좌동 1338 ),731-3893,http://haesong.es.kr/
302,303,공립,해운대교육지원청,해운대초등학교,해운대구 중동2로 24번길 30(해운대구 중1동 1234 ),746-5462,http://www.haeundae.es.kr/
303,304,공립,해운대교육지원청,해원초등학교,해운대구 마린시티2로 10(해운대구 우동 1405-1 ),740-9900,http://haewon.es.kr/
304,305,공립,해운대교육지원청,호암초등학교,수영구 호암로 57(수영구 광안4동 1194-2 ),751-3935,http://www.hoam.es.kr/

In [58]:
nonbusan=elementary['주소'].str.replace("부산광역시 ","")
nonbusan

0                                  사하구 옥천로 130
1                                사하구 원양로 368-2
2                                    중구 중구로 74
3                                 사하구 낙동대로 152
4                                  서구 보수대로 312
                        ...
300    해운대구 해운대로 469번길 42(해운대구 우2동 1025-11번지 )
301         해운대구 좌동순환로 402번길 32(해운대구 좌동 1338 )
302          해운대구 중동2로 24번길 30(해운대구 중1동 1234 )
303            해운대구 마린시티2로 10(해운대구 우동 1405-1 )
304               수영구 호암로 57(수영구 광안4동 1194-2 )
Name: 주소, Length: 305, dtype: object

In [59]:
elementary['addr'] = nonbusan
elementary

,연번,구분,관할지원청,기관명,주소,전화,홈페이지,addr
0,1,공립,서부교육지원청,감정초등학교,부산광역시 사하구 옥천로 130,220-0100,http://www.gamjung.es.kr,사하구 옥천로 130
1,2,공립,서부교육지원청,감천초등학교,부산광역시 사하구 원양로 368-2,206-9482,http://www.gam.es.kr,사하구 원양로 368-2
2,3,공립,서부교육지원청,광일초등학교,부산광역시 중구 중구로 74,603-5000,http://www.gwangil.es.kr,중구 중구로 74
3,4,공립,서부교육지원청,괴정초등학교,부산광역시 사하구 낙동대로 152,220-0500,http://www.koejeong.es.kr,사하구 낙동대로 152
4,5,공립,서부교육지원청,구덕초등학교,부산광역시 서구 보수대로 312,242-6600,http://www.gudeok.es.kr,서구 보수대로 312
...,...,...,...,...,...,...,...,...
300,301,공립,해운대교육지원청,해림초등학교,해운대구 해운대로 469번길 42(해운대구 우2동 1025-11번지 ),743-4720,http://www.haerim.es.kr/,해운대구 해운대로 469번길 42(해운대구 우2동 1025-11번지 )
301,302,공립,해운대교육지원청,해송초등학교,해운대구 좌동순환로 402번길 32(해운대구 좌동 1338 ),731-3893,http://haesong.es.kr/,해운대구 좌동순환로 402번길 32(해운대구 좌동 1338 )
302,303,공립,해운대교육지원청,해운대초등학교,해운대구 중동2로 24번길 30(해운대구 중1동 1234 ),746-5462,http://www.haeundae.es.kr/,해운대구 중동2로 24번길 30(해운대구 중1동 1234 )
303,304,공립,해운대교육지원청,해원초등학교,해운대구 마린시티2로 10(해운대구 우동 1405-1 ),740-9900,http://haewon.es.kr/,해운대구 마린시티2로 10(해운대구 우동 1405-1 )
304,305,공립,해운대교육지원청,호암초등학교,수영구 호암로 57(수영구 광안4동 1194-2 ),751-3935,http://www.hoam.es.kr/,수영구 호암로 57(수영구 광안4동 1194-2 )

In [60]:
ele = list()

eles = elementary.loc[:, ['addr']].values
for i in eles :
    ele.append(i[0].split(" ")[0])
    
print(ele)

['사하구', '사하구', '중구', '사하구', '서구', '사하구', '사하구', '서구', '영도구', '사하구', '사하구', '사하구', '사하구', '영도구', '서구', '영도구', '영도구', '서구', '사하구', '사하구', '중구', '중구', '영도구', '영도구', '서구', '사하구', '사하구', '사하구', '영도구', '사하구', '서구', '사하구', '사하구', '영도구', '사하구', '사하구', '서구', '영도구', '사하구', '사하구', '사하구', '사하구', '영도구', '영도구', '사하구', '서구', '영도구', '영도구', '영도구', '서구', '사하구', '사하구', '서구', '사하구', '중구', '서구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '남구', '남구', '남구', '부산진구', '부산진구', '동구', '남구', '부산진구', '남구', '남구', '남구', '동구', '부산진구', '부산진구', '부산진구', '남구', '남구', '부산진구', '동구', '남구', '부산진구', '부산진구', '부산진구', '부산진구', '남구', '동구', '동구', '부산', '부산진구', '부산진구', '부산진구', '부산진구', '(48454)남구', '부산진구', '부산', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '부산진구', '동구', '부산진구', '부산진구', '동구', '부산진구', '부산진구', '강서구', '사상구', '사상구', '북구', '북구', '사상구', '북구', '북구', '북구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '북구', '강서구', '사상구', '북구', '북구', '북구', '사상구', '사상구', '사상구', '북구', '북구', '강서구', '강서구', '북구', '강서구', '사상구', '사상구', '사상구', '사상구', '강서구', '북구', '북구', '사상구', '사상구', '북구', '사상구', '강서구', '북구', '북구', '강서구', '북구', '강서구', '북구', '북구', '사상구', '강서구', '북구', '북구', '사상구', '사상구', '사상구', '사상구', '강서구', '북구', '북구', '사상구', '사상구', '북구', '북구', '북구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '기장군', '해운대구', '수영구', '수영구', '기장군', '기장군', '수영구', '기장군', '기장군', '기장군', '해운대구', '수영구', '기장군', '해운대구', '수영구', '수영구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '기장군', '수영구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '수영구', '수영구', '해운대구', '해운대구', '해운대구', '기장군', '기장군', '해운대구', '기장군', '해운대구', '해운대구', '기장군', '기장군', '해운대구', '해운대구', '기장군', '해운대구', '기장군', '해운대구', '기장군', '기장군', '해운대구', '해운대구', '기장군', '기장군', '기장군', '기장군', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '수영구']

In [70]:
elementary['GUGUN'] = ele

In [71]:
elementary

,연번,구분,관할지원청,기관명,주소,전화,홈페이지,addr,GUGUN
0,1,공립,서부교육지원청,감정초등학교,부산광역시 사하구 옥천로 130,220-0100,http://www.gamjung.es.kr,사하구,사하구
1,2,공립,서부교육지원청,감천초등학교,부산광역시 사하구 원양로 368-2,206-9482,http://www.gam.es.kr,사하구,사하구
2,3,공립,서부교육지원청,광일초등학교,부산광역시 중구 중구로 74,603-5000,http://www.gwangil.es.kr,중구,중구
3,4,공립,서부교육지원청,괴정초등학교,부산광역시 사하구 낙동대로 152,220-0500,http://www.koejeong.es.kr,사하구,사하구
4,5,공립,서부교육지원청,구덕초등학교,부산광역시 서구 보수대로 312,242-6600,http://www.gudeok.es.kr,서구,서구
...,...,...,...,...,...,...,...,...,...
300,301,공립,해운대교육지원청,해림초등학교,해운대구 해운대로 469번길 42(해운대구 우2동 1025-11번지 ),743-4720,http://www.haerim.es.kr/,해운대구,해운대구
301,302,공립,해운대교육지원청,해송초등학교,해운대구 좌동순환로 402번길 32(해운대구 좌동 1338 ),731-3893,http://haesong.es.kr/,해운대구,해운대구
302,303,공립,해운대교육지원청,해운대초등학교,해운대구 중동2로 24번길 30(해운대구 중1동 1234 ),746-5462,http://www.haeundae.es.kr/,해운대구,해운대구
303,304,공립,해운대교육지원청,해원초등학교,해운대구 마린시티2로 10(해운대구 우동 1405-1 ),740-9900,http://haewon.es.kr/,해운대구,해운대구
304,305,공립,해운대교육지원청,호암초등학교,수영구 호암로 57(수영구 광안4동 1194-2 ),751-3935,http://www.hoam.es.kr/,수영구,수영구

In [83]:
elementary = elementary[['기관명', 'GUGUN']]
elementary

         기관명 GUGUN
0     감정초등학교   사하구
1     감천초등학교   사하구
2     광일초등학교    중구
3     괴정초등학교   사하구
4     구덕초등학교    서구
..       ...   ...
300   해림초등학교  해운대구
301   해송초등학교  해운대구
302  해운대초등학교  해운대구
303   해원초등학교  해운대구
304   호암초등학교   수영구

[305 rows x 2 columns]

In [99]:
elementary = elementary.groupby('GUGUN').count()
elementary

           기관명
GUGUN
(48454)남구    1
강서구         17
금정구         22
기장군         21
남구          18
동구           7
동래구         22
부산           2
부산진구        32
북구          27
사상구         21
사하구         27
서구          11
수영구         10
연제구         16
영도구         14
중구           4
해운대구        33

In [109]:
elementary = elementary.drop(['(48454)남구','부산'])
elementary

       기관명
GUGUN
강서구     17
금정구     22
기장군     21
남구      18
동구       7
동래구     22
부산진구    32
북구      27
사상구     21
사하구     27
서구      11
수영구     10
연제구     16
영도구     14
중구       4
해운대구    33

In [111]:
elementary.to_csv('./csv/school/elementary.csv', encoding='euc-kr')