In [62]:
import pandas as pd

In [63]:
library = pd.read_csv('./csv/1_ULSAN/jiyoon/ulsan/ulsan_gugun_library.csv', encoding='euc-kr')
library = library.set_index('GUGUN')

In [64]:
market = pd.read_csv('./csv/1_ULSAN/jiyoon/ulsan/ulsan_gugun_market.csv', encoding='euc-kr')
market = market.set_index('GUGUN')

In [65]:
park = pd.read_csv('./csv/1_ULSAN/jiyoon/ulsan/ulsan_gugun_park.csv', encoding='euc-kr')
park = park.set_index('GUGUN')

In [66]:
pop = pd.read_csv('./csv/1_ULSAN/jiyoon/ulsan/ulsan_gugun_pop.csv', encoding='euc-kr')
pop = pop.set_index('GUGUN')

In [67]:
price = pd.read_csv('./csv/1_ULSAN/jiyoon/ulsan/ulsan_gugun_price.csv', encoding='euc-kr')
price = price.set_index('GUGUN')

In [68]:
ulsan_jiyoon = pd.concat([library, market, park, pop, price], axis=1)
ulsan_jiyoon

C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

     도서관수   시장수    공원수       인구수  아파트평당가격
남구   37.0   9.0  108.0  336914.0    924.0
동구    5.0   7.0   73.0  169673.0    726.0
북구    7.0   2.0   52.0  207284.0    710.0
울주군  14.0   7.0    NaN  228528.0    709.0
중구   26.0  17.0  116.0  237012.0    883.0
호계동   NaN   NaN    1.0       NaN      NaN

In [69]:
u = ulsan_jiyoon.fillna('0')

    도서관수 시장수  공원수     인구수 아파트평당가격
남구    37   9  108  336914     924
동구     5   7   73  169673     726
북구     7   2   52  207284     710
울주군   14   7    0  228528     709
중구    26  17  116  237012     883
호계동    0   0    1       0       0

In [71]:
u.to_csv('./csv/1_ULSAN/ulsan_jiyoon.csv', encoding='euc-kr')