In [8]:
import pandas as pd
from pandas import DataFrame as df

In [28]:
ul = df(data={'GUGUN':['남구','중구','동구','북구','울주군'] , '아파트평당가격': ['924','883','726','710','709']})
ul

  GUGUN 아파트평당가격
0    남구     924
1    중구     883
2    동구     726
3    북구     710
4   울주군     709

In [29]:
ul1 = ul.set_index('GUGUN')
ul1

      아파트평당가격
GUGUN
남구        924
중구        883
동구        726
북구        710
울주군       709

In [30]:
ul1.to_csv('./csv/1_ULSAN/jiyoon/ulsan/ulsan_gugun_price.csv', encoding='euc-kr')

In [31]:
inc = df(data={'GUGUN':['연수구','서구','부평구', '남동구', '중구', '미추홀구', '계양구', '동구', '강화군'], '아파트평당가격':['1273', '983', '974', '925', '853', '826', '812', '696', '385']})
inc

  GUGUN 아파트평당가격
0   연수구    1273
1    서구     983
2   부평구     974
3   남동구     925
4    중구     853
5  미추홀구     826
6   계양구     812
7    동구     696
8   강화군     385

In [32]:
inc1 = inc.set_index('GUGUN')
inc1

      아파트평당가격
GUGUN
연수구      1273
서구        983
부평구       974
남동구       925
중구        853
미추홀구      826
계양구       812
동구        696
강화군       385

In [33]:
inc1.to_csv('./csv/2_INCHEON/jiyoon/incheon_gugun_price.csv', encoding='euc-kr')